/* Membuat garis di atas setiap panel pembatas accordion */
.accordion {
	margin: 1rem 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #e5e5e5;
}

/* Membuat garis di bawah setiap panel pembatas accordion */
.accordion-item {
	border-bottom: 1px solid #e5e5e5;
}

/* Thumb */
.accordion-thumb {
	margin: 0;
	padding: 13px;
	cursor: pointer;
  	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
	
	
	/* // Chevron */
	/* &::before {
		content: '';
		display: inline-block;
		height: 7px;
		width: 7px;
		margin-right: 1rem;
		margin-left: .5rem;
		vertical-align: middle;
		border-right: 1px solid;
		border-bottom: 1px solid;
		transform: rotate(-45deg);
		transition: transform .2s ease-out;
	} */
}

/* Panel */
.accordion-panel {
	margin: 0;
	padding-bottom: .8rem;
	display: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

/* Active */
/* .accordion-item.is-active {
	.accordion-thumb::before {
		transform: rotate(45deg);
	}
} */

.change-button{
	margin-top: 40px;
	font-family: 'Montserrat', sans-serif;  
  	text-align: center;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	background-color: purple;
	border: none;
	color: white;
	padding: 7px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border-radius: 25px;
}
  
.morning-night{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
/* General page styling */

h1 {
  	font-family: 'Montserrat', sans-serif;  
  	text-align: center;
	margin-top: 5%;
	transition: 0.5s;
}

body {
	line-height: 1.5;
	margin: 0 auto;
	max-width: 500px;
}

body.night{
  background: #00151f;
}

h3 {
	font-family: sans-serif;
	font-size: 16px;
	margin: 0 0 20px;
	padding: 0;
	color: #444;
	transition: 0.5s;
}

p {
	font-size: 14px;
	margin: 0;
  	padding: 0;
  	color: #444;
  	transition: 0.5s;
  	font-size: 14px;
}

body.night h1,
body.night h3,
body.night p{
	color: white;
}