{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
</head>

<style src="{% static 'css/style.css' %}">
</style>


<body>
    
    <script src="{% static 'js/scripts.js' %}"></script>

    <h1>How's Your Day?</h1>

    <img src="{% static 'image/morning.png' %}" alt="Morning" class="morning-night">

    <button type="button" class="button change-button">Change</button>

    <ul class="accordion">
        <li class="accordion-item">
            <h3 class="accordion-thumb">Activity</h3>
            <p class="accordion-panel">
                Tidak ada aktivitas yang signifikan
            </p>
        </li>
        
        <li class="accordion-item">
            <h3 class="accordion-thumb">Organization Experience</h3>
            <div class="accordion-panel">
                <p>Staf of Sponsorship COMPFEST - 2019</p>
                <p>Staf of Event CGT - 2019</p>
                <p>Staf of Human Resource Department BEM Fasilkom UI - 2019</p>
                <p>Staf of Event Graduation - 2019</p>
            </div>
        </li>
        
        <li class="accordion-item">
            <h3 class="accordion-thumb">Achievement</h3>
            <p class="accordion-panel">
                Tidak ada yay!
            </p>
        </li>
    </ul>

</body>
</html>